table, td, th{
border: 1px solid black;
border-color: blue;
padding-top: 1%;
padding-top: 0%;
}

th{
  background-color: palegreen;
}

table{
    background-color:darkseagreen;
}


th, td {
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
    background-color: cadetblue;
}